@import "tailwindcss";
/*
:root {
  --background: #f7fcf8;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f7fcf8;
    --foreground: #171721;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
 */
.trapezium {
  clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
}
